@media all {

body {
  display: flex;
}

#svg, #body {
  height: 1125px;
}

#body {
  position: absolute;
  filter: grayscale(100%);
}

#svg {
  position: relative;
  width: 800px;
  margin-right: 57px;
}

polygon {
  border: 10px solid black;
}

#btn-container {
  /* position: fixed; */
  display: inline-flex;
  flex-direction: column;
}

.color-select-btn {
  border: none;
  height: 20px;
  cursor: pointer;
}

#current-color {
  margin-bottom: 20px;
  cursor: default;
  background-color: green;
}

#green {
  background-color: green;
}

#pink {
  background-color: pink;
}

#color-body-btn {
  margin-top: 20px;
}

}

@media print {
  #btn-container {
    display: none;
  }
}

